.index1{
	background: url(../Images/1/a6.jpg) no-repeat;
	background-size: 100%;
}
.fixBottom {
	width: 100%;
	height: 45px;
	position: absolute;
	left: 0;
	bottom: 0;
	background: url(../Images/1/a5.png) center center no-repeat;
	background-size: 85px;
	background-color: rgba(38,160,155,.4);
}
.a1 {
	position: absolute;
	left: 58px;
	top: 25px;
	width: 31px;
	height: 18px;
	-webkit-animation-delay: .6s;
}
.a2 {
	position: absolute;
	left: 34px;
	top: 38px;
	width: 291px;
	height: 65px;
}
.rule-btn {
	width: 75px;
	height: 75px;
	background: url(../Images/1/a3.png) no-repeat;
	background-size: 100%;
	position: absolute;
	left: 32px;
	top: 199px;
}
.game-btn {
	width: 123px;
	height: 131px;
	background: url(../Images/1/a4.png) no-repeat;
	background-size: 100%;
	position: absolute;
	left: 118px;
	top: 120px;
}
.rule-box {
	width: 80%;
	border-radius: 10px;
	background-color: #21ADAA;
}
.a6 {
	width: 82px;
	height: 20px;
	display: block;
	margin: 0 auto;
	padding-top: 22px;
	padding-bottom: 15px;
}
.rule-info {
	height: 274px;
	width: 86%;
	margin: 0 auto;
	color: #fff;
	overflow: hidden;
	overflow-y: scroll;
	margin-bottom: 15px;
}
.rule-close {
	width: 100%;
	height: 50px;
	font-size: 18px;
	color: #21ADAA;
	background-color: #fff;
	border-radius: 0 0 10px 10px;
}
.rule-h7 {
	width: 100%;
}
.rule-b12 {
	width: 104px;
}
.title {
	margin-top: 8px;
}
.title:nth-child(1) {
	margin-top: 0px;
}
.detail {
	font-size: 13px;
	margin-left: 15px;
}
.bar {
	width: 92px;
	height: 100px;
	background: url(../../Content/Images/1/a7.png) 0 0 no-repeat;
	background-size: 184px;
	position: absolute;
	right: 0;
	top: 100px;
}

/*friend.html*/
.friendBottom {
	height: 60px;
	background: url(../Images/1/h6.png) center center no-repeat;
	background-size: 105px;
	background-color: rgba(105,255,255,.45);
}
.friend-text {
	width: 296px;
	height: 76px;
	position: absolute;
	top: 140px;
	left: 32px;
}
.join-btn {
	width: 138px;
	height: 146px;
	background: url(../Images/1/h4.png) no-repeat;
	background-size: 100%;
	position: absolute;
	top: 240px;
	left: 111px;
}
.shop-btn {
	width: 162px;
	height: 33px;
	background: url(../Images/1/h5.png) no-repeat;
	background-size: 100%;
	position: absolute;
	top: 400px;
	left: 99px;
}
.fa1 {
	top: 39px;
}
.fa2 {
	top: 52px;
}
.bar1 {
	width: 92px;
	height: 50px;
	background: url(../../Content/Images/1/a7.png) 0 -107px no-repeat;
	background-size: 184px;
	position: absolute;
	right: 0;
	top: 177px;
}
.bar2 {
	width: 184px;
	height: 60px;
	background: url(../../Content/Images/1/a7.png) 0 -197px no-repeat;
	background-size: 184px;
	position: absolute;
	left: 0;
	top: 430px;
}