/*弹窗*/
.afix {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	display: none;
	overflow: auto;
	overflow-y: scroll;
	background-color: rgba(0,0,0,.4);
}
.box {
	width: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -50%;
	margin-left: -40%;
	z-index: 200;
	display: none;
	overflow: hidden;
	overflow-y: scroll;
	-webkit-box-align: center;
}
/********/